/* swiper */
html,
body {
	position: relative;
	height: 100%;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-pagination-bullet {
	width: 60px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 5%;
	color: #000;
	opacity: 1;
	background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
	color: #fff;
	background: #007aff;
}

/* logo */
.logo {
	width: 210px;
	height: 70px;
	margin: 100px auto 30px;
}

.logo a {
	display: block;
}

.logo a img {
	width: 100%;
	height: 100%;
}

/* search */
.search {
	position: relative;
}

.search .form-control {
	height: 36px;
	color: #000;
	border: 1px solid #b6b6b6;
	box-shadow: none;
	border-radius: 0;
}

.search .form-control:hover {
	border-color: #999 transparent #b3b3b3 #999;
}

.search .form-control:focus {
	border-color: #4791ff transparent #4791ff #4791ff;
}

.search .btn {
	height: 36px;
	color: #fff;
	border-radius: 0;
	background: #3385ff;
	border-color: transparent;
	border-bottom: 1px solid #2d78f4;
}

.search .btn:hover {
	background: #317ef3;
	border-bottom: 1px solid #2868c8;
	box-shadow: 1px 1px 1px #ccc;
}

/* tags */
.tags {
	width: 300px;
	margin: 20px auto 0;
}

.tags a {
	color: #333;
}

/* brand */
.navbar-brand {
	font-weight: bold;
}

/* main */
.main li:first-child {
	border-left: 1px solid #e0e5e5;
}

.main li {
	margin: 8px auto;
	list-style: none;
}

@media (max-width: 767px) {
	.main li {
		text-align: center;
	}
}

.main li a {
	color: #333;
}

/* about */
.about p {
	text-indent: 2em;
}

.about a {
	text-align: center;
	color: #333;
}

.about .beian {
	margin: 30px auto 0;
	text-align: center;
}
